@import 'styles/variables.scss';

.container {
    &__card {
        padding-top: 60px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }
    &__title {
        font-size: $font-size-large;
        color: $primary-color;
    }
    &__subTitle {
        font-size: $font-size-medium;
        color: $secondary-color;
    }
    &__title,
    &__subTitle {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .container {
        &__card {
            padding-top: 40px;
            gap: 14px;
        }
        &__title {
            font-size: $font-size-large / 1.6;
        }
        &__subTitle {
            font-size: $font-size-medium / 1.6;
        }
    }
}

@media screen and (max-width: 425px) {
    .container {
        &__card {
            flex-direction: column;
            gap: 40px;
            > div {
                display: flex;
                justify-content: center;
            }
        }
    }
}
