//Light theme
$primary-color: #42446e;
$secondary-color: #666666;

//Dark theme
$dark-mode: #191919;
$primary-color-dark: #a7a7a7;
$secondary-color-dark: #d9d9d9;

//Font size
$font-size-small: 1.25rem;
$font-size-medium: 2em;
$font-size-large: 3rem;
$font-size-big: 3.625rem;
