@import 'styles/variables.scss';
.container {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    h1 {
        color: $primary-color;
        font-size: $font-size-large;
    }
    p {
        background: var(
            --Gradient-Heading,
            linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: $font-size-medium;
    }
}
