@import 'styles/variables.scss';

.container {
    &__title {
        text-align: center;
        font-family: Poppins;
    }

    img {
        width: 120px;
        height: 120px;
    }
    h2 {
        font-size: $font-size-large;

        color: $primary-color;
    }
    p {
        font-size: $font-size-medium;
        color: $secondary-color;
    }

    &__flexBox {
        padding-top: 60px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}
