@import 'styles/variables.scss';

.container {
    color: $primary-color;
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    font-size: $font-size-small;
    &__contact {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 60px;
        padding-bottom: 20px;
        align-items: center;
    }
    &__firstList {
        display: flex;
        list-style-type: none;
        text-align: center;
        gap: 60px;
    }
    &__socialMidia {
        display: flex;
        list-style-type: none;
        text-align: center;
        gap: 10px;
    }
    &__flexBoxFooter {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        border-top: 2px solid $secondary-color;
        > p {
            color: $secondary-color;
        }
    }
    &__secondList {
        display: flex;
        list-style-type: none;
        text-align: center;
        gap: 60px;
        padding-bottom: 30px;
        li {
            font-size: $font-size-small;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }
    a {
        text-decoration: none;
        color: inherit;
        font-size: 30px;
    }
}

@media screen and (max-width: 1100px) {
    .container {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        &__flexBoxFooter {
            padding-top: 30px;
            border-top: 2px solid $secondary-color;
            justify-content: space-around;
            width: 100%;
            > p {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .container {
        font-size: 16px;
        &__contact {
            justify-content: space-between;
            padding-bottom: 10px;
            align-items: flex-end;
        }
        &__firstList {
            flex-direction: column;
            gap: 0;
        }
        &__flexBoxFooter {
            display: none;
        }
    }
}
