body {
    margin: 0;
    font-family: Poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px 10% 0px 10%;
    min-width: 360px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root > main.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media screen and (max-width: 425px) {
    body {
        padding: 16px;
    }
}
